.swiper_container {
  height: 40rem;
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 20rem;
  height: 30rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 20rem;
  height: 30rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
