@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green-100: #9bfe03;
}

* {
  box-sizing: border-box;
  @apply font-calibre;
}

body,
html {
  height: 100%;
}

main {
  height: calc(100% - 6rem);
}
section:first-of-type {
  height: 100%;
}
section:not(:first-of-type) {
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 639px) {
  main {
    height: calc(100% - 4rem);
  }
}
